@{
    ViewData["Title"] = "Registr BE SAFE";
}

<div class="text-center ">
    <h1 class="display-4">Vítejte v registru BE SAFE!</h1>
    <br />
    <h5>Aplikace slouží k evidenci zákazníků, jejich pojištění a pojistných událostí.</h5>
    <br />
    <h5>Pro práci v aplikaci použijte navigační menu v horní liště.</h5>
</div>