@{
    ViewData["Title"] = "Registr BE SAFE";
}

<div class="text-center ">
    <h1 class="display-4">Vítejte v registru BE SAFE!</h1>
    <br />
    <p>Aplikace slouží k evidenci zákazníků, jejich pojištění a pojistných událostí.</p>
    <p>Pro práci v aplikaci použijte navigační menu v horní liště.</p>
</div>